<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <!-- MPwithAngularJS references -->

    <link href="Content/ionic.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet" />
    <link href="css/ionic.eclair.theme.css" rel="stylesheet" />
    <!--<link rel="stylesheet" href="Content/jquery.mobile.eclair.theme.css"/>-->

    <script src="scripts/ionic.bundle.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-route.min.js"></script>
    <script src="scripts/angular-resource.min.js"></script>
    <!-- Cordova reference, this is added to your app when it's built. -->
    <script src="cordova.js"></script>
    <script src="scripts/platformOverrides.js"></script>

    <script type="text/javascript">
        var apiUrl = "http://mohammed-pc/Eclair/api/MobilePhlebotomy/";
    </script>

    <script src="scripts/main.js"></script>
    <script src="services/CordovaReady.js"></script>
    <script src="services/FooterBtnService.js"></script>
    <script src="services/DataIDs.js"></script>
    <script src="controllers/FooterBtnCtrl.js"></script>
    <script src="controllers/MainCtrl.js"></script>
    <script src="controllers/UserCtrl.js"></script>
    <script src="controllers/PatientCtrl.js"></script>

</head>
<body>

    <ion-header-bar class="bar-eclair">
        <button class="button button-icon icon ion-navicon"></button>
        <h1 class="title"><img class="title-image" src="./Content/images/header_logo.png" width="165" height="39"/></h1>
    </ion-header-bar>

    <ion-content padding="true">
        <div class="eclair-mobile-frame">
            <div ng-view></div>
        </div>
    </ion-content>

    <ion-footer-bar class="bar-stable" ng-controller="FooterBtnCtrl">
        <div class="button-bar">
            <button class="button button-footer icon-left ion-close-round" ng-click="btnCancel()">Cancel</button>
            <button class="button button-footer" ng-show="middleButton.show" ng-click="openModal()">{{middleButton.title}}</button>
            <button class="button button-footer icon-right ion-arrow-right-a" ng-show="rightButton.show" ng-click="buttonClicked()">{{rightButton.title}}</button>
        </div>
    </ion-footer-bar>
    
</body>
</html>