<div class="c1" ng-init="init()">
    <div class="list">
        <div class="item item-text-wrap">
            <h4>User</h4>
            <h3 style="color: steelblue;">{{user.Name}}</h3>
        </div>
        <div class="item item-thumbnail-right">
            <img src="./images/SarahRogers.png"/>
            <h4>Patient</h4>
            <h3 style="color: steelblue;">{{patient.Name}} ({{patient.NHI}})</h3>
            <h3 style="color: steelblue;">{{patient.Gender}}, {{patient.DOB}},</h3>
            <h3 style="color: steelblue;">{{patient.Age}}</h3>
        </div>
        <div class="item item-text-wrap">
            <h4>Order</h4>
            <h3 style="color: steelblue;">{{order.OrderId}}</h3>
        </div>
    </div>
</div>
<div class="c3">
    <div class="card">
        <div class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
        </div>
    </div>
    <!--<div class="welcome-message">{{model.message}}</div>
    <hr/>
    <div class="list">
        <label class="item item-input">
            <input ng-model="idList.orderId" type="text" placeholder="Order number"/>
        </label>
    </div>
    <button class="button button-outline button-scan button-positive icon-left ion-camera" ng-click="scanCode()">Scan</button>-->
</div>
