<div class="c1" ng-init="init()">
    <img src="images/{{patient.Photo}}" class="patient_image" />
    <table>
        <tr>
            <td style="text-align: right; font-size: 12px;">User</td>
            <td style="width: 100%;"><span class="data-text">{{user.Name}}</span></td>
        </tr>
        <tr>
            <td style="text-align: right; font-size: 12px;">Patient</td>
            <td style="width: 100%;"><span class="data-text">{{patient.Name}} ({{patient.NHI}})</span></td>
        </tr>
        <tr>
            <td></td>
            <td><span class="data-text">{{patient.Gender}}, {{patient.DOB}},</span></td>
        </tr>
        <tr>
            <td></td>
            <td><span class="data-text">{{patient.Age}} years</span></td>
        </tr>
    </table>
</div>
<div class="c3">
    <div class="welcome-message">{{model.message}}</div>
    <hr />
    <div class="list">
        <label class="item item-input">
            <input ng-model="idList.patientId" type="text" placeholder="Order number" />
        </label>
    </div>
    <button class="button button-outline button-scan button-positive icon-left ion-camera" ng-click="scanCode()">Scan</button>
</div>
