

<div class="c1" ng-init="init()">
    <div class="list">
        <div class="item">
            <h4>User</h4>
            <h3 style="color: steelblue;">{{user.Name}}</h3>
        </div>
    </div>
</div>

<div class="c3">
    <div class="welcome-message">{{model.message}}</div>
    <hr/>
    <div class="list">
        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input ng-model="idList.patientId" type="text" placeholder="Patient NHI" />
            </label>
            <button class="button button-clear icon-left ion-camera" ng-click="scanCode()">Scan</button>
        </div>
    </div>
</div>
  